body {
    background-image: url("/images/burger.jpeg");
    background-repeat: no-repeat;
    background-position: center;
   }

li, h1, h2 {
    background-color: tan;
    padding: 1%;
    width: 30%;
    padding-left: 5%;
}
